@using Microsoft.AspNet.Identity
@using BugTracker.Helpers;
@{ var userHelper = new UserHelper(); }
@{ var roleHelper = new UserRoleHelper(); }
@if (Request.IsAuthenticated)
{
     var CurrentUserId = User.Identity.GetUserId(); 

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">
            <!-- ============================================================== -->
            <!-- Search -->
            <!-- ============================================================== -->
            <li class="nav-item hidden-sm-down search-box">
                <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                <form class="app-search">
                    <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                </form>
            </li>

            <!-- ============================================================== -->
            <!-- Profile -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="@userHelper.GetAvatar(User.Identity.GetUserId())" alt="user" class="profile-pic" /></a>
                <div class="dropdown-menu dropdown-menu-right scale-up">
                    <ul class="dropdown-user">
                        <li>
                            <div class="dw-user-box">
                                <div class="u-img"><img src="@userHelper.GetAvatar(CurrentUserId)" salt="user"></div>
                                <div class="u-text">
                                    <h4>@userHelper.GetFullName(CurrentUserId)</h4>
                                    <p class="text-muted">@userHelper.GetEmail(CurrentUserId)</p>
                                    <p class="text-muted">@roleHelper.ListUserRoles(CurrentUserId).FirstOrDefault().ToString()</p>
                                </div>
                            </div>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="@Url.Action("Index", "Manage")"><i class="mdi mdi-account"></i><span class="hide-menu"> Account</span></a>
                        </li>
                        <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <li>
                                <a href="@Url.Action("Login", "Account", new { @class = "nav-link", @href = "javascript:document.getElementById('logoutForm').submit()" } )"><i class="mdi mdi-logout"></i><span class="hide-menu"> Log-Off</span></a>
                            </li>
                        }
                    </ul>
                </div>
            </li>
        </ul>
    </div>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
