@using Microsoft.AspNet.Identity
@using BugTracker.Helpers;
@{ var userHelper = new UserHelper(); }
@{ var roleHelper = new UserRoleHelper(); }
@if (Request.IsAuthenticated)
{

    <div class="navbar-collapse">

        <ul class="navbar-nav my-lg-0">
            <!-- ============================================================== -->
            <!-- Search -->
            <!-- ============================================================== -->
            <li class="nav-item hidden-sm-down search-box">
                <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                <form class="app-search">
                    <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                </form>
            </li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="@userHelper.GetAvatar(User.Identity.GetUserId())" alt="user" class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right scale-up">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="@userHelper.GetAvatar(User.Identity.GetUserId())" salt="user"></div>
                                    <div class="u-text">
                                        <h4>@userHelper.GetFullName(User.Identity.GetUserId())</h4>
                                        <p class="text-muted">@userHelper.GetEmail(User.Identity.GetUserId())</p>                                   
                                         <p class="text-muted">@roleHelper.ListUserRoles(User.Identity.GetUserId()).FirstOrDefault().ToString()</p>
                                        
                                        @*<a href="pages-profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a>*@
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>

                            <li>  @Html.ActionLink("Account", "Index", "Manage", null, new { @class = "ti-user" }) </li>

                            <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                            <li>  @Html.ActionLink("LogOff", "Login", "Account", null, new { @class = "nav-link", @href = "javascript:document.getElementById('logoutForm').submit()" }) </li>
                            @*<li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@

                        </ul>
                    </div>
                </li>
            }
        </ul>
    </div>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
