@*@model IEnumerable<BugTracker.Models.ApplicationUser>*@
@using Microsoft.AspNet.Identity;
@using System.Data.Entity;
@using System.Linq;
@using BugTracker.Helpers;

@model IEnumerable<BugTracker.Models.ApplicationUser>

@{ var roleHelper = new UserRoleHelper(); }
@{ var projectHelper = new ProjectHelper(); }

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">User Data</h4>
                <div class="table-responsive m-t-40">
                    <table class="example25 display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Role</th>
                                <th>Projects</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td><a href="@Url.Action( "ManageUser", "UserManagment", new { userid = user.Id })"><img src="@user.AvatarPath" alt="user" width="40" class="img-circle" /> @Html.DisplayFor(modelItem => user.FullName)</a></td>
                                    @*<td> @Html.DisplayFor(modelItem => user.FullName)</td>*@
                                    <td>@Html.DisplayFor(modelItem => user.Email)</td>
                                    <td>@String.Format("{0: (###) ###-####}",int.Parse(user.PhoneNumber))</td>
                                    @*<td><label class=" bfh-phone" data-format="+1 (ddd) ddd-dddd" value="1111111111"></label></td>*@
                                    <td> @roleHelper.ListUserRoles(user.Id).FirstOrDefault()</td>
                                    <td> @Html.DropDownListFor(modelItem => user.Id, new SelectList(user.Projects, "id", "Name", "-- NO Project --"))</td>
                                    <td>
                                        @Html.ActionLink("Manage User", "ManageUser", new { userid = user.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { userid = user.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.ActionLink("Create New User", "CreateNewUser", "Account", null, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.example25').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#PhoneNumber").mask('(000) 000-0000');
        })
    </script>
}