@using BugTracker.ViewModels
@model ManageUserVM
@using BugTracker.Helpers;
@using Microsoft.AspNet.Identity;

@{ var userHelper = new UserHelper();
    UserRoleHelper roleHelper = new UserRoleHelper();
}
@using (Html.BeginForm("ManageUser", "UserManagment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    var currentUser = userHelper.getUser(HttpContext.Current.User.Identity.GetUserId());

    @Html.AntiForgeryToken()
    <!-- Row -->
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => Model.user.Id)
    @Html.HiddenFor(m => Model.user.UserName)
    @Html.HiddenFor(m => Model.user.AvatarPath)
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Manage User @Model.user.FullName</h4>
                </div>
                <div class="card-body">
                    <form action="#" class="form-horizontal form-bordered">
                        <div class="form-body">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <img src="@Model.user.AvatarPath" class="img-circle" width="150" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">First Name</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(m => m.user.FirstName, new { htmlAttributes = new { @class = "form-control " } })
                                    @Html.ValidationMessageFor(m => m.user.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">Last Name</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(m => m.user.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(m => m.user.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">Email</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(m => m.user.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(m => m.user.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">Phone Number</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(m => m.user.PhoneNumber, new { htmlAttributes = new { @class = "form-control  phone-inputmask", value = "@user.PhoneNumber" } })
                                    @Html.ValidationMessageFor(m => m.user.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @if (User.IsInRole("Admin"))
                            {
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Roles</label>
                                    <div class="col-md-3">
                                        @Html.DropDownList("RoleName", null, new { @class = "form-control" })
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Roles</label>
                                    <div class="col-md-3">
                                        @roleHelper.ListUserRoles(Model.user.Id).FirstOrDefault()
                                    </div>
                                </div>
                            }

                            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                            {
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Projects</label>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Project</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var project in Model.UserProjects)
                                                                    {
                                                                        <tr>

                                                                            <td>@project.Name</td>
                                                                            <td class="text-nowrap">
                                                                                <a href="@Url.Action("ManageUser", "UserManagment", new { userId = Model.user.Id, addRemove = 1, projectId = project.Id })" class="submit" data-toggle="tooltip" data-original-title="Add"> <i class="fa fa-close text-danger"></i> </a>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Project</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var project in Model.NotUserProjects)
                                                                    {
                                                                        <tr>
                                                                            <td>@project.Name</td>
                                                                            <td class="text-nowrap">

                                                                                <a href="@Url.Action("ManageUser", "UserManagment", new { userId = Model.user.Id, addRemove = 0, projectId = project.Id })" data-toggle="tooltip" data-original-title="Add"> <i class="fa fa-plus text-Success"></i> </a>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">Avatar Image Upload</label>
                                <div class="col-md-3">
                                    <input name="Avatar" type="file" class=" dropify form-control" id="fileUpload" />
                                    @Html.ValidationMessageFor(m => m.Avatar, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="offset-sm-3 col-md-9">
                                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Submit</button>
                                            @Html.ActionLink("Cancel", "Index", null, new { @type = "button", @class = "btn btn-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
}
@section scripts{
    <script>
        $(document).ready(function () {
            // Basic
            $('.dropify').dropify();
        });
    </script>
}


