@model BugTracker.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.project.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketStatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketStatusId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmitterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmitterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeveloperId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeveloperId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MyProperty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyProperty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Issue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueDiscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueDiscription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsResolved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsResolved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsArchived)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsArchived)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
