@model IEnumerable<BugTracker.Models.Ticket>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
}

<h2>Tickets</h2>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">All Project Ticket List</h4>
                <div class="table-responsive m-t-40">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Ticket Priority</th>
                                <th>Ticket Status</th>
                                <th>Submitter</th>
                                <th>Issue</th>
                                <th>Created Data</th>
                                <th>Due Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var ticket in Model.Where(t => t.DeveloperId == User.Identity.GetUserId()))
                            {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.project.Name)</td>
                                    <td>@Html.DisplayNameFor(model => model.TicketPriority)</td>
                                    <td>@Html.DisplayNameFor(model => model.TicketStatusId)</td>
                                    <td>@Html.DisplayNameFor(model => model.TicketStatusId)</td>
                                    <td>@Html.DisplayNameFor(model => model.SubmitterId)</td>
                                    <td>@Html.DisplayNameFor(model => model.DeveloperId)</td>
                                    <td>@Html.DisplayNameFor(model => model.Created.ToString("MMM dd yyyy"))</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = ticket.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = ticket.Id }) |
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">All Project Ticket List</h4>
                <div class="table-responsive m-t-40">
                    <table class="example24 display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Ticket Priority</th>
                                <th>Ticket Status</th>
                                <th>Submitter</th>
                                <th>Issue</th>
                                <th>Created Data</th>
                                <th>Due Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var ticket in Model.Where(t => t.DeveloperId == User.Identity.GetUserId()))
                            {
                                <tr>
                                    <td>@Html.DisplayNameFor(model => model.project.Name)</td>
                                    <td>@Html.DisplayNameFor(model => model.TicketPriority)</td>
                                    <td>@Html.DisplayNameFor(model => model.TicketStatusId)</td>
                                    <td>@Html.DisplayNameFor(model => model.TicketStatusId)</td>
                                    <td>@Html.DisplayNameFor(model => model.SubmitterId)</td>
                                    <td>
                                        @if (ticket.DeveloperId != null)
                                        {
                                            @Html.DisplayFor(modelItem => ticket.Developer.FullName) }
                                        else
                                        {
                                            <span>No Developer Assigned</span>
                                        }
                                        </td>
                                    <td>@Html.DisplayNameFor(model => model.Created.ToString("MMM dd yyyy"))</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = ticket.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = ticket.Id }) |
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success waves-effect waves-light m-r-10" })
</p>


