@model IEnumerable<BugTracker.Models.Ticket>
@using Microsoft.AspNet.Identity;
@using BugTracker.Helpers;
@{
    ViewBag.Title = "Index";
}

<h2>Tickets</h2>
@{TicketHelper ticketHelper = new TicketHelper();
    UserRoleHelper roleHelper = new UserRoleHelper();
    ProjectHelper projectHelper = new ProjectHelper();
}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">All Assigned Tickets</h4>
                    <div class="table-responsive m-t-40">
                        <table class="example24 display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Project Manager</th>
                                    <th>Issue</th>
                                    <th>Ticket Priority</th>
                                    <th>Ticket Status</th>
                                    <th>Ticket Type</th>
                                    <th>Developer</th>
                                    <th>Submitter</th>
                                    <th>Created Data</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ticket in Model)
                                {
                                    var projectManager = projectHelper.ListUserOnProjectInRole(ticket.ProjectId, "ProjectManager").FirstOrDefault(); 
                                <tr>
                                    <td><a href="@Url.Action("Details", "Projects", new { id = ticket.ProjectId })"> @Html.DisplayName(ticket.project.Name)</a></td>
                                    @*<td>@Html.DisplayName(ticket.project.Name)</td>*@
                                    @if (projectManager != null)
                                    {
                                        <td><a href="@Url.Action("Index", "Manage", new { userId = projectManager.Id })">@projectManager.FullName</a></td>
                                    }
                                    else
                                    {
                                        <td> No Project Manager</td>
                                    }
                                    <td>@Html.DisplayName(ticket.Submitter.FullName)</td>
                                    @if (ticket.Issue != null)
                                    {
                                        <td>@Html.DisplayName(ticket.Issue)</td>
                                    }
                                    else
                                    {
                                        <td>No issue</td>
                                    }
                                    @*<td>@Html.DisplayName(projectHelper.ListUserOnProjectInRole(ticket.ProjectId, "ProjectManager").FirstOrDefault().FullName)</td>*@
                                    <td>@Html.DisplayName(ticket.TicketPriority.Name)</td>
                                    <td>@Html.DisplayName(ticket.TicketStatus.Name)</td>
                                    <td>@Html.DisplayName(ticket.TicketType.Name)</td>

                                    @if (ticket.Developer != null)
                                    {
                                        <td>@Html.DisplayName(ticket.Developer.FullName)</td>
                                    }
                                    else
                                    {
                                        <td>No User assinged to Developer</td>
                                    }

                                    <td>@Html.DisplayName(ticket.Created.ToString("MMM dd yyyy"))</td>
                                    <td>


                                        @Html.ActionLink("Details", "Dashboard", new { id = ticket.Id }) |
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

@if (ticketHelper.CanCreateTicket())
{
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success waves-effect waves-light m-r-10" })
    </p>
    }


