@*@model BugTracker.ViewModels.ProjectManageVM*@
@model BugTracker.Models.Project
@using BugTracker.Helpers;
@{var projectHelper = new ProjectHelper();
    var ticketHelper = new TicketHelper();
    var projectManager = projectHelper.ListUserOnProjectInRole(Model.Id, "ProjectManager").FirstOrDefault();
    
}
<div class="container-fluid p-t-20">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h4 class="m-b-0 text-white">Project @Model.Name</h4>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#ProjectInfo" role="tab">Project Info</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#ProjectManager" role="tab">Project Manager</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Developers" role="tab">Project Developers</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Submitters" role="tab">Project Submitters</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#Tickets" role="tab">Project Tickets</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#History" role="tab">Project History</a> </li>

                    @if (ticketHelper.CanCreateTicket(Model.Id))
                    {
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#AddTicket" role="tab">Create Ticket</a> </li>
                    }
                </ul>

                <div class="tab-content">
                    <div class="tab-pane tabcontent-border active" id="ProjectInfo" role="tabpanel">
                        <div class="card-body">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-3">Project Name:</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static"> @Model.Name </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Date Created:</label>
                                        <div class="col-md-9">
                                            <p class="form-control-static">  @Model.Created.ToString("MMM dd yyyy") </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Due Date:</label>
                                        <div class="col-md-9">
                                            <p class="form-control-static">  @Model.DueDate.ToString("MMM dd yyyy") </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">Description :</label>
                                        <div class="col-md-9">
                                            <p class="form-control-static"> Say something nice about the project </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <!--/span-->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane tabcontent-border " id="ProjectManager" role="tabpanel">
                        <div class="card-body">
                            <h3 class="box-title">Project Manager</h3>
                            <hr class="m-t-0 m-b-40">
                            @if (projectManager != null)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">First Name:</label>
                                            <div class="col-md-9">
                                                @Html.ActionLink(@projectManager.FirstName, "UserProfile", "UserManagment", new { userid = projectManager.Id }, new { @class = "form-control-static" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Email:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static">@projectManager.Email </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Last Name:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static"> @projectManager.LastName </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">Contact Number:</label>
                                            <div class="col-md-9">

                                                <p class="form-control-static" type="tel">@projectManager.PhoneNumber</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">No Project Manager Assigned</label>

                                        </div>
                                    </div>
                                </div>
                            }
                            <!--/row-->
                        </div>
                    </div>
                    <div class="tab-pane tabcontent-border " id="Developers" role="tabpanel">
                        <div class="card-body">
                            <h4 class="card-title">Developers</h4>
                            <hr>

                            <div class="table-responsive">
                                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Contact Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var user in projectHelper.ListUserOnProjectInRole(Model.Id, "Developer").ToList())
                                        {
                                            <tr>

                                                <td>
                                                    @Html.ActionLink(@user.FullName, "UserProfile", "UserManagment", new { userid = user.Id })
                                                </td>
                                                <td>@user.Email</td>
                                                <td>@user.PhoneNumber</td>
                                                @*<td>@Html.Display( user.PhoneNumber, new { @type = "tel" })</td>*@

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane tabcontent-border " id="Submitters" role="tabpanel">
                        <div class="card-body">
                            <h4 class="card-title">Submitters</h4>
                            <hr />
                            <div class="table-responsive ">
                                <table id="" class="example24 display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Contact Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var user in projectHelper.ListUserOnProjectInRole(Model.Id, "Submitter").ToList())
                                        {

                                            <tr>
                                                <td>@Html.ActionLink(@user.FullName, "UserProfile", "UserManagment", new { userid = user.Id })</td>
                                                <td>@user.Email</td>
                                                <td>@user.PhoneNumber</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane tabcontent-border " id="Tickets" role="tabpanel">
                        <div class="card-body">
                            <h4 class="card-title">Tickets</h4>
                            <hr>
                            @if (Model.Tickets.Count > 0)
                            {
                                <div class="table-responsive">
                                    <table class="example25 display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Ticket Id</th>
                                                <th>Project Manager</th>
                                                <th>Ticket Priority</th>
                                                <th>Ticket Status</th>
                                                <th>Ticket Type</th>
                                                <th>Submitter</th>
                                                <th>Developer</th>
                                                <th>Issue</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var ticket in Model.Tickets)
                                            {
                                                <tr>
                                                    <td><a href="@Url.Action("Dashboard", "Tickets", new { id = ticket.Id })"> @ticket.Id</a></td>
                                                    @if (projectManager != null) {
                                                    <td>@Html.DisplayName(projectManager.FullName)</td>
                                                    }
                                                    else
                                                    {
                                                        <td>No Project Manager </td>
                                                    }
                                                    <td>@Html.DisplayName(ticket.TicketPriority.Name)</td>
                                                    <td>@Html.DisplayName(ticket.TicketStatus.Name)</td>
                                                    <td>@Html.DisplayName(ticket.TicketType.Name)</td>
                                                    <td>@Html.DisplayName(ticket.Submitter.FullName)</td>
                                                    @if (ticket.Developer != null)
                                                    {
                                                        <td>@Html.DisplayName(ticket.Developer.FullName)</td>
                                                    }
                                                    else
                                                    {
                                                        <td>No User assinged to Developer</td>
                                                    }
                                                    <td>@Html.DisplayName(ticket.Issue)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <h4 class="card-title">No Tickets are Created for this Project</h4>

                            }
                        </div>


                    </div>
                    <div class="tab-pane tabcontent-border " id="History" role="tabpanel">
                        <div class="card-body">
                            <h4 class="card-title">Tickets</h4>
                            <hr>
                            @if (Model.Tickets.Count > 0)
                            {
                                <div class="table-responsive">
                                    <table class="example25 display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Changed On</th>
                                                <th>User</th>
                                                <th>Property</th>
                                                <th>Old Value</th>
                                                <th>New Value</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var history in Model.Histories)
                                            {
                                                <tr>
                                                    <td>@history.ChangedOn.ToString("MMM dd yyyy")</td>
                                                    <td>@history.User.FullName</td>
                                                    <td>@history.Property</td>
                                                    <td>@history.OldValue</td>
                                                    <td>@history.NewValue</td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <h4 class="card-title">No Tickets are Created for this Project</h4>

                            }
                        </div>
                    </div>
                    @if (ticketHelper.CanCreateTicket(Model.Id))
                    {
                        <div class="tab-pane tabcontent-border" id="AddTicket" role="tabpanel">
                            <div class="card-body">
                                <div class="row p-t-20">
                                    @using (Html.BeginForm("Create", "Tickets", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.Hidden("ProjectId", @Model.Id)
                                        @Html.Hidden("onPage", true)
                                        <div class="row justify-content-center">
                                            <div class="col-md-12">
                                                <div class="card card-body">
                                                    <h3 class="box-title m-b-0">Create Ticket</h3>
                                                    <div class="row">
                                                        <div class="col-sm-12 col-xs-12">
                                                            <form>

                                                                <div class="form-group">
                                                                    @Html.Label("Ticket Priority", "TicketPriorityId")
                                                                    @Html.DropDownList("TicketPriorityId", null, htmlAttributes: new { @class = "form-control" })
                                                                    @Html.ValidationMessage("TicketPriorityId", "", new { @class = "text-danger" })

                                                                </div>

                                                                <div class="form-group">
                                                                    @Html.Label("Ticket Type", "TicketTypeId")
                                                                    @Html.DropDownList("TicketTypeId", null, htmlAttributes: new { @class = "form-control" })
                                                                    @Html.ValidationMessage("TicketTypeId", "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group">
                                                                    @Html.Label("Issue")
                                                                    @Html.TextBox("Issue", null, htmlAttributes: new { @class = "form-control" })
                                                                    @Html.ValidationMessage("Issue", "", new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group">
                                                                    @Html.Label("IssueDescription")
                                                                    @Html.TextArea("IssueDescription", new { @class = "form-control", @id = "IssueDescription" })
                                                                    @Html.ValidationMessage("IssueDescription", "", new { @class = "text-danger" })

                                                                </div>
                                                                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Create</button>
                                                                @*@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-inverse waves-effect waves-light" })*@
                                                                @*<button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>*@
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-actions">
                        <div class="row p-l-20 p-t-20 p-b-20">
                            <div class="col-md-6">
                                <div class="row ">
                                    <div class=" col-md-9">
                                        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                        {
                                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" })
                                        }
                                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-inverse" })
                                        @*<button type="submit" class="btn btn-info"> <i class="fa fa-pencil"></i> Edit</button>*@
                                        @*<button type="button" class="btn btn-inverse">Cancel</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
