@*@model BugTracker.ViewModels.ProjectManageVM*@
@model BugTracker.Models.Project

@using BugTracker.Helpers;
@{ var roleHelper = new UserRoleHelper(); }
@{ var projectHelper = new ProjectHelper(); }
@*<link href="~/Content/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/Content/css/multi-select.css" rel="stylesheet" />
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/css/switchery.min.css" rel="stylesheet" />*@
@using (Html.BeginForm("Edit", "Projects", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsArchive)
    @Html.HiddenFor(model => model.Created)
    @Html.HiddenFor(model => model.DueDate)
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Edit Project @Model.Name</h4>
                </div>
                <div class="card-body">
                    <form action="#" class="form-horizontal">
                        <div class="form-body">
                            <hr class="m-t-0 m-b-40">
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Project Name:</label>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placehoder = "@Model.Name" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">Due Date:</label>
                                        <div class="col-md-6">
                                            <input type="date" class="form-control" placeholder="@Model.DueDate.ToString("MMM dd yyyy")">
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Description</label>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.TextAreaFor(model => model.Description,  new { @class = "form-control ", @placeholder = "Enter a Description" } )
                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <!--/span-->
                            </div>
                            <!--/row-->
                            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                            {
                                <h4 class="box-title">Project Manager</h4>
                                <hr class="m-t-0 m-b-40">
                                <div class="row p-t-20">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                @Html.DropDownList("ProjectManagers", null,new { @class = "form-control " })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <hr class="m-t-0 m-b-40">
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <label class="control-label text-right col-md-3">Submitters</label>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Users</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var user in ViewBag.Submitters)
                                                                    {
                                                                        <tr>

                                                                            <td>@user.FullName</td>
                                                                            <td class="text-nowrap">
                                                                                <a href="@Url.Action("Edit","Projects", new {userId = user.Id, AddRemoveUser = 1, id = Model.Id})" class="submit" data-toggle="tooltip" data-original-title="Add"> <i class="fa fa-close text-danger"></i> </a>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Submitters not in project</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var user in ViewBag.UsersNotInProject)
                                                                    {
                                                                        if (roleHelper.IsUserInRole(user.Id, "Submitter"))
                                                                        {
                                                                            <tr>
                                                                                <td>@user.FirstName</td>
                                                                                <td class="text-nowrap">
                                                                                    <a href="@Url.Action("Edit", "Projects", new { userId = user.Id, AddRemoveUser = 0, id = Model.Id })" class="submit" data-toggle="tooltip" data-original-title="Add"> <i class="fa fa-plus text-danger"></i> </a>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label text-right col-md-3">Developers</label>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Users</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var user in ViewBag.Developers)
                                                                    {
                                                                        <tr>
                                                                            
                                                                            <td>@user.FullName</td>
                                                                            <td class="text-nowrap">
                                                                                <a href="@Url.Action("Edit","Projects", new {userId = user.Id, AddRemoveUser = 1, id = Model.Id})" class="submit" data-toggle="tooltip" data-original-title="Add"> <i class="fa fa-close text-danger"></i> </a>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Developers not in project</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var user in ViewBag.UsersNotInProject)
                                                                    {
                                                                        if (roleHelper.IsUserInRole(user.Id, "Developer"))
                                                                        {
                                                                            <tr>
                                                                                <td>@user.FirstName</td>
                                                                                <td class="text-nowrap">
                                                                                    <a href="@Url.Action("Edit", "Projects", new { userId = user.Id, AddRemoveUser = 0, id = Model.Id })" class="submit" data-toggle="tooltip" data-original-title="Add"> <i class="fa fa-plus text-danger"></i> </a>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn btn-success">Submit</button>
                                                @Html.ActionLink("Cancel", "Details", new { id = Model.Id }, new { @type = "button", @class = "btn btn-inverse" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
