
@using PagedList.Mvc;
@using PagedList;
@model IEnumerable<BugTracker.ViewModels.ProjectManageVM>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Project List</h4>
                <div class="table-responsive m-t-40">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Project Manager</th>
                                <th>Project Developers</th>
                                <th>Project Submitters</th>
                                <th>Project Created Date</th>
                                <th>Project Due Date</th>
                                <th>Number Of Tickets</th>
                                <th>Action</th>

                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var project in Model)
                            {
                            <tr>
                                <td>@Html.Label(project.projectValue.Name)</td>
                                <td>
                                    @if (project.projectManager != null)
                                    {
                                        @Html.Label(project.projectManager.FullName) }
                                    else
                                    {
                                        <span>No Project Manager Assigned</span>
                                    }
                                </td>
                                <td>
                                    @if (project.Developers.Count > 0)
                                    {
                                        <select class="form-control custom-select" tabindex="1">
                                            @foreach (var user in project.Developers)
                                            {
                                                <option>@user.FullName</option>
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <span>No Developers Assigned</span>
                                    }
                                </td>
                                <td>
                                    @if (project.Submitters.Count > 0)
                                    {
                                        <select class="form-control custom-select" tabindex="1">
                                            @foreach (var user in project.Submitters)
                                            {
                                                <option>@user.FullName</option>
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <span>No Submitters Assigned</span>
                                    }

                                </td>
                                <td>@Html.Label(project.projectValue.Created.ToString("MMM dd yyyy"))</td>
                                <td>@Html.Label(project.projectValue.DueDate.ToString("MMM dd yyyy"))</td>
                                <td>@project.projectValue.Tickets.Count</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = project.projectValue.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = project.projectValue.Id }) |

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                    @Html.ActionLink("Create New", "ProjectWizard", "Projects", null, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>
</div>



@*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsArchive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>*@