
@model IEnumerable<BugTracker.Models.Project>
@using BugTracker.Helpers;
@using Microsoft.AspNet.Identity;
@{ UserRoleHelper roleHelper = new UserRoleHelper();
    ProjectHelper projectHelper = new ProjectHelper();
    UserHelper userHelper = new UserHelper();
}
@if (projectHelper.CanViewAllProjects())
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> All Project</h4>
                    <div class="table-responsive ">
                        <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Project Manager</th>
                                    <th>Project Developers</th>
                                    <th>Project Submitters</th>
                                    <th>Project Created Date</th>
                                    <th>Project Due Date</th>
                                    <th>Number Of Tickets</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var project in ViewBag.AllProjects)
                                {
                                    var projectManager = projectHelper.ListUserOnProjectInRole(project.Id, "ProjectManager");
                                    var Submitters = projectHelper.ListUserOnProjectInRole(project.Id, "Submitter");
                                    var Developers = projectHelper.ListUserOnProjectInRole(project.Id, "Developer");
                                    <tr>
                                        <td>@project.Name</td>
                                        <td>
                                            @if (projectManager.Count > 0)
                                            {
                                                foreach (var user in projectManager)
                                                {
                                                    @user.FullName
                                                }
                                            }
                                            else
                                            {
                                                <span>No Project Manager Assigned</span>
                                            }
                                        </td>
                                        <td>
                                            @if (Developers.Count > 0)
                                            {
                                                <select class="form-control custom-select" tabindex="1">
                                                    @foreach (var user in Developers)
                                                    {
                                                        <option>@user.FullName</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <span>No Developers Assigned</span>
                                            }
                                        </td>
                                        <td>
                                            @if (Submitters.Count > 0)
                                            {
                                                <select class="form-control custom-select" tabindex="1">
                                                    @foreach (var user in Submitters)
                                                    {
                                                        <option>@user.FullName</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <span>No Submitters Assigned</span>
                                            }
                                        </td>
                                        <td>@project.Created.ToString("MMM dd yyyy")</td>
                                        <td>@project.DueDate.ToString("MMM dd yyyy")</td>
                                        <td>@project.Tickets.Count</td>
                                        <td>
                                            @if (projectHelper.CanEditProject())
                                            {
                                                @Html.ActionLink("Edit", "Edit", new { id = project.Id }) <span>|</span>
                                            }
                                            @Html.ActionLink("Details", "Details", new { id = project.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (projectHelper.CanCreateProject())
                        {
                            <div class="row p-t-20">
                                @Html.ActionLink("Create New", "ProjectWizard", "Projects", null, new { @class = "btn btn-success " })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                @if (Model.ToList().Count > 0)
                {
                    <h4 class="card-title">Projects Assinged to @userHelper.getUser(User.Identity.GetUserId()).FullName</h4>
                    <div class="table-responsive m-t-40">
                        <table class="example24 display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Project Manager</th>
                                    <th>Project Developers</th>
                                    <th>Project Submitters</th>
                                    <th>Project Created Date</th>
                                    <th>Project Due Date</th>
                                    <th>Number Of Tickets</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var project in Model)
                                {
                                    var projectManager = projectHelper.ListUserOnProjectInRole(project.Id, "ProjectManager");
                                    var Submitters = projectHelper.ListUserOnProjectInRole(project.Id, "Submitter");
                                    var Developers = projectHelper.ListUserOnProjectInRole(project.Id, "Developer");
                                    <tr>
                                        <td>@Html.Label(project.Name)</td>
                                        <td>
                                            @if (projectManager.Count > 0)
                                            {
                                                @Html.Label(projectManager.FirstOrDefault().FullName) }
                                            else
                                            {
                                                <span>No Project Manager Assigned</span>
                                            }
                                        </td>
                                        <td>
                                            @if (Developers.Count > 0)
                                            {
                                                <select class="form-control custom-select" tabindex="1">
                                                    @foreach (var user in Developers)
                                                    {
                                                        <option>@user.FullName</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <span>No Developers Assigned</span>
                                            }
                                        </td>
                                        <td>
                                            @if (Submitters.Count > 0)
                                            {
                                                <select class="form-control custom-select" tabindex="1">
                                                    @foreach (var user in Submitters)
                                                    {
                                                        <option>@user.FullName</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                <span>No Submitters Assigned</span>
                                            }
                                        </td>
                                        <td>@Html.Label(project.Created.ToString("MMM dd yyyy"))</td>
                                        <td>@Html.Label(project.DueDate.ToString("MMM dd yyyy"))</td>
                                        <td>@project.Tickets.Count</td>
                                        <td>
                                            @if (projectHelper.CanEditProject())
                                            {
                                                @Html.ActionLink("Edit", "Edit", new { id = project.Id }) <span>|</span>
                                            }
                                            @Html.ActionLink("Details", "Details", new { id = project.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <h4 class="card-title">No Projects Assinged to @userHelper.getUser(User.Identity.GetUserId()).FullName</h4>
                }
            </div>
        </div>
    </div>
</div>
